@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

body {
  font-family: 'Figtree', sans-serif;
}

.pochacco {
  transform-box: fill-box;
  transform-origin: center;
}

.pochacco:hover {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}