@import 'tailwindcss';

.pochacco {
  transform-box: fill-box;
  transform-origin: center;
}

.pochacco:hover {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}